{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text display-4">{{ stats.users }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Packages</h5>
                    <p class="card-text display-4">{{ stats.packages }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Flights</h5>
                    <p class="card-text display-4">{{ stats.flights }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Hotels</h5>
                    <p class="card-text display-4">{{ stats.hotels }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Bookings</h5>
                    <p class="card-text display-4">{{ stats.bookings }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
