<form id="flight-search-form" method="get">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-plane-departure"></i></span>
                <input type="text" class="form-control" name="origin" placeholder="From" value="{{ app.request.query.get('origin') }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-plane-arrival"></i></span>
                <input type="text" class="form-control" name="destination" placeholder="To" value="{{ app.request.query.get('destination') }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                <input type="date" class="form-control" name="departureDate" value="{{ app.request.query.get('departureDate') }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-plane"></i></span>
                <input type="text" class="form-control" name="airline" placeholder="Airline" value="{{ app.request.query.get('airline') }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-users"></i></span>
                <input type="number" class="form-control" name="minSeats" placeholder="Min. Seats" value="{{ app.request.query.get('minSeats') }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                <input type="number" class="form-control" name="minPrice" placeholder="Min Price" value="{{ app.request.query.get('minPrice') }}">
                <input type="number" class="form-control" name="maxPrice" placeholder="Max Price" value="{{ app.request.query.get('maxPrice') }}">
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-search"></i> Search Flights
            </button>
        </div>
    </div>
</form>
